@import url('https://fonts.googleapis.com/css2?family=Roboto');

#navbar {
    background-color: #ffffff;
    border-color: #000000;
    border-width: 3px;
}

nav>ul {
    list-style-type: none;
}

.hero {
    display: flex;
    background-image: url("../images/River-Swim.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
}

#feestable {
    width: 80%;
    border:2.5px solid #000000;
}

.events img {
    height: 100px;
    width: 100px;
    float: center;
}

.team img{
    height: 100px;
    width: 100px;
}

.footer ul {
    list-style-type: none;
    align-content: center;
}

.footer {
    background-color: #0d72e6;
}

* {
  box-sizing: border-box;
}

/* Four columns of equal width */
.member {
  float: left;
  width: 25%;
  padding: 50px;
}

/* Style the list */
.member {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.member:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Membership header */
.member .header {
  background-color: rgb(18, 143, 227);
  color: white;
  font-size: 20px;
}

/* List items */
.member li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.member .grey {
  background-color: #eee;
  font-size: 20px;
}

/* The "Sign Up" button */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Contact Form */
.contactus {
    padding-left: 2%;
    padding-bottom: 5%;
    background-color: #e6192e;

}

.checkbox {
    padding-left: 2%;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
}