@import url('https://fonts.googleapis.com/css2?family=Roboto');

#navbar {
    background-color: #d51717;
    border-color: #000000;
    border-width: 3px;
}

#hero {
    height: 300px;
    width: 100%;
    background-image: url("../images/Hero-Image.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#feestable {
    width: 80%;
    border:2.5px solid #000000;
}

#team img{
    height: 100px;
    width: 100px;
}

footer>ul {
    list-style-type: none;
}